extends ../layout

block content
  h1= book.title

  .media
    .media-left
      img(src=`${book.cover}`, alt="Book Cover", style="height: 250px; width: 150px;")

    .media-body
      h5 Authors
      p= book.authors.map( a => a.name ).join( ', ' )

      h5 Genres
      p= book.genres.map( g => g.name ).join( ', ' )

      h5 Description
      p= book.description

      a.btn.btn-default(href=`/books/edit/${book.id}`) Edit Book
      a.btn.btn-danger(href=`/books/delete/${book.id}`) Delete Book